#APP

## APP_ENV = 'development'
## APP_BASE_URL= 'http://localhost:8080'
## APP_VERSION = '0.1.0'
## APP_DEBUG = true

#SERVER

## SERVER_READ_TIMEOUT_SECONDS=10
## SERVER_WRITE_TIMEOUT_SECONDS=20
## SERVER_IDLE_TIMEOUT_SECONDS=60
## SERVER_SHUTDOWN_PERIOD_SECONDS=60

#DATABASE

## DATABASE_DSN = '[username]:[password]@localhost:5432/postgres?sslmode=disable'
## DATABASE_CONN_TIMEOUT_SECONDS = 10
## DATABASE_AUTO_MIGRATE = true
## DATABASE_MAX_OPEN_CONNS = 25
## DATABASE_MAX_IDLE_CONNS = 25
## DATABASE_MAX_IDLE_DURATION_SECONDS = 300
## DATABASE_MAX_LIFE_DURATION_SECONDS = 3600

#JWT

## JWT_SECRET_KEY='YK+8I3SYlMEs0cwv6CZ1QA5mYiltXcupiTJCEn/+7c4=' // $ openssl rand -base64 32